<title>{{guildName}} - Bilgilendirme</title>
<main class="container">
    <br />
    <h1 style="text-align:center;font-size: 2.2em;text-decoration: none; font-weight: bold; color: white;">Bilgilendirme</h1>
    <br />
    <div class="darkbox">
        <h4><strong>Kodları nasıl görürüm?</strong></h4>
        <p>Kodları görmek için sunucumuza insanları davet etmeniz yeterli ama sunucumuza davet ettiğiniz insanlar sunucumuza kayıt olmak zorundadır yoksa davetleriniz sayılmaz ve kod rollerini alamaz ve ranklı kodlara ulaşamazsınız.</p>
        <ul>
            <li><kbd style="background-color:#ffcc00">Altın kodlar:</kbd> 10 kayıtlı davet</li>
            <li><kbd style="background-color:#00e6e6">Elmas kodlar:</kbd> 20 kayıtlı davet</li>  
        <li><kbd style="background-color:#ff4d4d">Hazır sistemler:</kbd> 30 kayıtlı davet</li>
        </ul>
        <br />
        <h4><strong>Website herhangi bir bilgime ulaşabilir mi?</strong></h4>
        <p>Bu soru bize defalarca kez soruldu ve bu cevabı buradan verelim. Siz discord ile giriş yaptığınız zaman sizin hangi discord verilerinize ulaşabileceğimiz orada yazmaktadır. Bu 3. taraf bir yazılım değil, Discord tarafından bize verilen bir özelliktir. Bu giriş sistemini gerekli bilgi ile siz bile yapabilirsiniz. Ayrıca sizin herhangi bir kişisel verinizi database da tutmadığımızı ve herhangi bir bilginin kayıt altına alınmadığını da söylemek istiyoruz. Sizden giriş yaparken istediğimiz bilgiler ise şu işe yarıyor;</p>
        <ul>
            <li>Kullanıcı adı ve avatarına eriş: Bu bilgi ilede sitemiz de bulunan profil sayfası,  özel üyelerimiz sayfası, kod paylaşırsanız kod paylaşan kişinin bilgileri gibi ufak tefek bilgileri çekiyoruz. </li>
            <li>Hangi sunucular da olduğunu bil: Bu bilgi ile bizim sunucumuz da var mısınız? Eğer varsanız ulaşmak istediğiniz kod kategorisini görmek için gerekli rollere sunucumuz da sahip misiniz? Bu bilgileri sorgularız ve herhangi bir datayı kayıt altına almayız.</li>
        </ul>
        <br />
        <h4><strong>Bir yetkiliniz benden izinsiz kodumu paylaşmış?</strong></h4>
        <p>Böyle bir durumda Serendia Manager ve üstü kişilere yazmanız yeterli olacaktır. Geri kalan işlemleri onlarla aranızda halledebilirsiniz. </p>
    </div>
</main>
